.responsive-container {
  padding: 0 350px; 
}

.responsive-container-2 {
  padding: 0 230px; 
}

@media (max-width: 1600px) {
  .responsive-container {
    padding: 0 230px; 
  }
   .responsive-container {
    padding: 0 230px; 
  }
}

@media (max-width: 1200px) {
  .responsive-container {
    padding: 0 100px; 
  }
   .responsive-container-2 {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  .responsive-container {
    padding: 0 10px; 
  }
   .responsive-container-2 {
    padding: 0 10px; 
  }
}