.title {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    font-size: 23px;
    color: gray;
    margin-bottom: 20px;
}

.line {
    width: 150px;
    height: 5px;
    background-color: #e88ec6;
    margin: 0 auto;
    margin-bottom: 80px;
}